---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">

  <h3>Bio</h3>

  <style>

    

      a {

        color: black;

        font-weight:bold;

        text-decoration: none;

      }

      /* unvisited link */

      a:link {

        color: black;

        font-weight:bold;

        text-decoration: none;

      }

      /* visited link */

      a:visited {

        color: black;

        font-weight:bold;

        text-decoration: none;

      }

      /* mouse over link */

      a:hover {

        color: #f5b642;

        font-weight:bold;

        text-decoration: none;

      }

      /* selected link */

      a:active {

        color: #f5b642;

        font-weight:bold;

        text-decoration: none;

      }

    </style>

  <p>
   I graduated with a B.S in Mathematics and M.S in Computer Science from <span style="background-color:#bfd4f5;"><a href=https://www.stanford.edu>Stanford University</a></span> where 
   I concentrated my studies within probability and machine learning. I was fortunate to be advised by <span style="background-color:#c7ceea;"><a href=http://statweb.stanford.edu/~adembo/>Amir Dembo</a></span>
   for my undergraduate degree and <span style="background-color:#defcfa;"><a href=https://cs.stanford.edu/~chrismre/>Christopher Ré</a></span> for my graduate degree.
  </p>
  
  <p>
   I now work as a Research Scientist at <span style="background-color:#bfd4f5;"><a href=https://www.nvidia.com/en-us/>NVIDIA</a></span> on the foundation model training team. I primarily focus on developing new large language models (LLMs) and augmenting their abilities via continued training.
  </p>
    
    
  <h5>// In the past, I've:</h5>

  <p>
    Worked with <span style="background-color:#defcfa;"><a href=https://thashim.github.io>Tatsu Hashimoto</a></span> on improving group robusntess of machine learning models. Current models achieve high average performance but can incur high error on certain groups of rare and atypical examples. We developed a new framework which allows for models to obtain better worst-group performance on tasks.
  </p>


  <p>
    Worked as a teaching assistant for <span style="background-color:#bfd4f5;"><a href=https://web.stanford.edu/class/cs234/>CS 234: Reinforcement Learning</a></span> where I had the wonderful opportunity to help introduce the exciting field of reinforcement learning to students. Teaching has always been a passion of mine and it was gratifying to help aid in the educational journey of others.
  </p>

  <p>
    Researched in <span style="background-color:#c7ceea;"><a href=https://cs.stanford.edu/~chrismre/>Chris Re's</a></span> Lab at Stanford
    where I worked with <span style="background-color:#9ed2ff;"><a href=https://web.stanford.edu/~ksaab/>Khaled Saab</a></span>. We worked on making use of passively observed human signals, such as one's 
    gaze, to learn better representations of tasks and help train more robust, generalizable deep learning models for medical image classification. 
  </p>

  <p>
    Worked as a Machine Learning Engineer and the first Product Manager for <span style="background-color:#9ed2ff;"><a href=https://www.occamzrazor.com/work>OccamzRazor</a></span>.
    OccamzRazor is an early stage company developing a biomedical knoweldge graph which aims to advance understanding of <span style="background-color:#d1f1ff;"><a href=https://www.sciencedirect.com/topics/medicine-and-dentistry/drug-efficacy>drug efficacy</a></span> and provide novel treatments for diseases.
    My initial focus of work was on expanding out their natural langauge processing pipeline by researching and engineering new architectures for biomedical <span style="background-color:#defcfa;"><a href=https://medium.com/@venali/tutorial-series-on-nlp-information-extraction-tasks-99cd8309e2ef>information extraction</a></span>. 
    Later, I focused on expanding the product platform from just repurposing known drugs to the broader set of small molecules that actively interact with any druggable protein.
  
  </p>

  <p>
    Worked as a quantitative trading intern at <span style="background-color:#9ed2ff;"><a href=https://www.imc.com/us/>IMC Trading</a></span> on the Small Index Options Desk. I developed new trading strategies to improve performance on US Options Auctions by leveraging information regarding market sentiment.
  </p>

  <p>
    Researched with <span style="background-color:#bfd4f5;"><a href=https://www.umass.edu/sphhs/person/faculty/david-chin>David Chin</a></span> at UMass Amherst where we investigated the intersection of 
    quantum and classical machine learning. In particuar, we looked to see whether quantum models could help us better assess the quality of care provided by hospitals.
  </p>

  <p>
    Worked with <span style="background-color:#9ed2ff;"><a href=https://web.cs.ucdavis.edu/~doty/>David Doty</a></span> at UC Davis where we built a domain specific language that allowed researchers to implement complex theoretical models in the field of 
    <span style="background-color:#d1f1ff;"><a href=<span style="background-color:#506587;"><a href=https://cacm.acm.org/magazines/2012/12/157881-theory-of-algorithmic-self-assembly/fulltext>algorithmic self assembly</a></span>.
  </p>

 




<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  
<h3>Projects</h3>
 
<!--
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#proj-cur">Current Projects</div></li>
    <li><div class="button" data-ref="#proj-past">Past</div></li>    
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="proj-cur">
--!>


      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <center>
                  <b>{{ project.title }}</b> <br/>
                  </center>
                  <center>
                  {{ project.subtitle }}
                  </center>
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
<!---      </div>
   </div>
---!>

</div>


  

<!-- ========== POSTS ========== -->
<div class="docs-section" id="Posts">
  <h3>Publications and Written Pieces</h3>
  
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers">Papers</div></li>
    <li><div class="button" data-ref="#pieces">Written Pieces</div></li>    
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="papers">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    <!-- All PAPERS -->
    <div class="tab-pane" id="pieces">
      {% assign papers = site.data.publications.papers | where: "wp", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    
 
  
</div>


 


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h3>Resume</h3>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


  <div class="docs-section" id="ack">
  <h3>Acknowledgement</h3>
  <p>
    This website draws design inspiration from <span style="background-color:#f7b5b5;"><a href="https://thashim.github.io">Tatsunori Hashimoto</a></span>
    and <span style="background-color:#ff8791;"><a href=http://jasonjinzhao.com>Jason Zhao</a></span>.
  </p>

</div>
